mule-exception-metrics-with-codahale/src/main/app/codahaleexceptiontracking.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd">

  	<custom-agent name="metricAgent" class="com.freemansoft.metrics.flowexception.MetricAgent" >
        <spring:property name="metricRegistry" ref="codahaleMetricRegistry"/>
        <spring:property name="appName" value="${app.name}"/>
    </custom-agent>

    <spring:beans>
        <spring:bean name="codahaleMetricRegistry" class="com.codahale.metrics.MetricRegistry" scope="singleton"/> 
        <spring:bean name="codahaleMetricRecordFlowException" class="com.freemansoft.metrics.flowexception.MetricRecordFlowException" scope="singleton" >
            <spring:constructor-arg name="metricRegistry" ref="codahaleMetricRegistry"/>
        </spring:bean>
        
        <spring:bean name="codahaleMetricSystemExceptionShim" class="com.freemansoft.metrics.systemexception.SystemExceptionMetricContextShim" scope="singleton" >
            <spring:constructor-arg name="metricAwareExceptionListener" ref="codahaleMetricRecordSystemException"/>
        </spring:bean>
        <spring:bean name="codahaleMetricRecordSystemException" class="com.freemansoft.metrics.systemexception.SystemExceptionMetricListener" scope="singleton" >
            <spring:constructor-arg name="metricRegistry" ref="codahaleMetricRegistry"/>
        </spring:bean>
    </spring:beans>
    
    <https:connector name="HTTP_HTTPS" cookieSpec="netscape" validateConnections="true" sendBufferSize="0" receiveBufferSize="0" receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="HTTP-HTTPS">
        <https:tls-key-store path="foo" keyPassword="password" storePassword="password"/>
    </https:connector>
    
    <flow name="codahaleexceptiontrackingFlow1" doc:name="codahaleexceptiontrackingFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081"  contentType="text/html" doc:name="HTTP"/>
        <choice doc:name="Choice based on htttp.relative.path">
            <when expression="#[message.inboundProperties['http.relative.path'] == '1']">
                <scripting:component doc:name="Throw JavaScript Exception">
                    <scripting:script engine="JavaScript"><![CDATA[//throwing java exceptions creates unsatisfactory results
//throw new UnsupportedOperationException('this message created in javascript');
throw new TypeError("this javascript error message created in javascript ")]]></scripting:script>
                </scripting:component>
            </when>
            <when expression="#[message.inboundProperties['http.relative.path'] == '2']">
                <scripting:component doc:name="Throw Ruby Exception">
                    <scripting:script engine="jruby"><![CDATA[raise ModelException('this message created in a Ruby script').new]]></scripting:script>
                </scripting:component>
            </when>
            <when expression="#[message.inboundProperties['http.relative.path'] == '3']">
                <component doc:name="Throw Java Exception" class="com.freemansoft.dummyclasses.ThrowExceptionEveryTime"/>
            </when>
            <when expression="#[message.inboundProperties['http.relative.path'] == '4']">
                <scripting:component doc:name="Throw Groovy Exception">
                    <scripting:script engine="Groovy"><![CDATA[throw new java.lang.IllegalArgumentException('Invalid relative path. GET the root url to see valid values. Thrown by Groovy',new Exception('nested exception to show deeper stack trace'));]]></scripting:script>
                </scripting:component>
            </when>
            <when expression="#[message.inboundProperties['http.relative.path'] == 'favicon.ico']">
                <logger message="Ignoring favicon.ico" level="DEBUG" doc:name="Ignore FavIcon"/>
            </when>
            <otherwise>
                <parse-template location="${app.home}/docroot/index.html" doc:name="Load index.html"/>
                <scripting:transformer mimeType="text/html" doc:name="Evaluate MEL in Payload">
                    <scripting:script engine="Groovy"><![CDATA[/*
 * See https://svn.codehaus.org/mule/tags/mule-3.3.2/core/src/test/java/org/mule/expression/ExpressionManagerTestCase.java for an parse() examples
 * Use parse() instead of evaluate() because parse() executes all MEL expression and evaluate does only one
 */
return muleContext.getExpressionManager().parse(payload,message)]]></scripting:script>
                </scripting:transformer>
            </otherwise>
        </choice>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
        	<component doc:name="Record Exception in Coda Hale metrics">
        		<spring-object bean="codahaleMetricRecordFlowException" />
        	</component>
            <logger  level="INFO" doc:name="Log Exception"/>
            <component class="com.freemansoft.dummyclasses.ExceptionToHtmlTransformer" doc:name="Convert Exception Info to HTML"/>
        </catch-exception-strategy>
    </flow>
    <flow name="generate_connector_system_exception" doc:name="generate_connector_system_exception" doc:description="This generates a system exception on startup because the HTTPS endpoint is using a HTTP connector that is mis configured for its key store">
        <https:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" connector-ref="HTTP_HTTPS" doc:name="HTTPS using invalid HTTPS Connector"/>
        <logger level="INFO" doc:name="Logger placeholder to create valid flow definition"/>
    </flow>
</mule>
